@font-face {
    font-family: 'pt_sansbold';
    src: url('./../fonts/ptsans-bold-webfont.woff2') format('woff2'),
         url('./../fonts/ptsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('./../fonts/ptsans-regular-webfont.woff2') format('woff2'),
         url('./../fonts/ptsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    margin: 0;
    color: black;
    font-family: 'pt_sansregular';
    transition-duration: 0.6s;
}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Header Bar **/
.logo {
    height: 40px;
    width: auto;
    z-index: 999;
}

.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    line-height: 100px;
    width: 100vw;
    padding: 0 10vw;
    color: white; /* #75787b black;*/
    z-index: 9999;
    transition: 0.4s ease-out;
}

.main-header a {
    text-decoration: none;
    color: inherit;
    /*text-transform: uppercase;*/
    transition-duration: 2.4s;
}

.main-header a:hover {
    color: black;
}

.main-header .nav_links {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

/** close links **/
.main-header .nav_links .nav_link {
    transition:
        opacity 0.4s ease-in-out,
        transform 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
}

.main-header .nav_links .nav_link:nth-of-type(2) {
    transition-delay: 0.1s;
}
.main-header .nav_links .nav_link:nth-of-type(3) {
    transition-delay: 0.2s;
}
.main-header .nav_links .nav_link:nth-of-type(4) {
    transition-delay: 0.3s;
}

/** end close links **/

.main-header .nav_links .nav_link a {
    margin: 0.2rem;
    padding: 1rem 0.5rem;
    transition-duration: 0.2s;
}

.main-header .nav_links .nav_link a:hover {
    background: #f4f4f4;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.main-header .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 999;
    /**/
    display: none;
}

.main-header .menu-icon__line {
    display: block;
    position: relative;
    background: black;
    height: 2px;
    width: 20px;
    border-radius: 4px;
}

.main-header .menu-icon__line:before,
.main-header .menu-icon__line:after  {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;   
    border-radius: 4px;
    background: black;
    transition: background 0.8s ease;
}

.main-header .menu-icon__line:before {
    transform: translateY(-5px);
}

.main-header .menu-icon__line:after {
    transform: translateY(5px);
}

.main-header .menu-btn {
    display: none;
}

.scrolled {
    height: 70px;
    background: white;
    color: #75787b; /*black;*/
    border-bottom: 1px #ddd solid;
    justify-content: space-around;
    transition-duration: 0.4s;
}

.scrolled .menu-icon .menu-icon__line,
.scrolled .menu-icon .menu-icon__line:before
.scrolled .menu-icon .menu-icon__line:after{
    background: white;
}

.iframe-container {
    overflow: hidden;
    padding-top: 32%; /* 16:9*/
    position: relative;
}

.img_inside_container {
    overflow: hidden;
    padding-top: 100%; /* 16:9*/
    position: relative;
}



/**media**/
@media screen and (max-width: 767px) {
    .main-header .menu-icon {
        display: block;
    }

    .iframe-container {
        padding-top: 56.25%; /* 16:9*/
    }

    /**animation x**/
    .main-header .menu-icon .menu-icon__line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;     
    }

    .main-header .menu-icon .menu-icon__line:before {
        animation: closedTop 0.8s backwards;
        animation-direction: reverse;   
    }
    .main-header .menu-icon .menu-icon__line:after {
        animation: closedBtm 0.8s backwards;
        animation-direction: reverse;    
    }
    /**End animation x**/
    .main-header .nav_links {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10rem 0;
        width: 100vw;
        height: 100vh;
        font-size: 1.5rem;
        color: white;
        background: rgba(0, 0, 0, 0.9);

        transition: 
            opacity .8s .5s,
            clip-path 1s 0.5s;
        clip-path: circle(150px at top right);
    }

    .main-header .nav_links .nav_link {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
    }

    .main-header .nav_links .nav_link a {
        display: block;
        padding: 2rem 0;

    }

    .main-header .menu-btn:checked ~ .nav_links {
        opacity: 1;
        clip-path: circle(100% at center);
    } 

    .main-header .menu-btn:checked ~ .nav_links .nav_link {
        opacity: 1;
        transform: translateX(0);
        transition: 
            opacity 0.4s ease-in-out,
            transform 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
    }

    .main-header .menu-btn:checked ~ .nav_links .nav_link:nth-of-type(1) {
        transition-delay: 0.7s;
    }
    .main-header .menu-btn:checked ~ .nav_links .nav_link:nth-of-type(2) {
        transition-delay: 0.8s;
    }
    .main-header .menu-btn:checked ~ .nav_links .nav_link:nth-of-type(3) {
        transition-delay: 0.9s;
    }
    .main-header .menu-btn:checked ~ .nav_links .nav_link:nth-of-type(4) {
        transition-delay: 1s;
    }

    /** Click hamburguer **/
    .main-header .menu-btn:checked ~ .menu-icon {
        border-radius: 50%;
        animation: pulse 1s;
    }
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
        background: white;
        animation: openMid 0.8s forwards;
    }
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line:before {
        background: white;
        animation: openTop 0.8s forwards;
    }
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line:after {
        background: white;
        animation: openBtm 0.8s forwards;
    }
}

/** Animation **/
@keyframes pulse {
    from {
        box-shadow: 0 0 0 0px rgba(30,57,138, 0.6);/*rgba(30,57,138,1);*/
        background: rgba(30,57,138, 0.6);
    }
    to {
        box-shadow: 0 0 0 1000px rgba(234, 67, 53, 0);
        background: rgba(234, 67, 53169, 9, 9, 0);
    }
}

@keyframes openTop {
    0% {
        transform: translateY(-5px)
        rotate(0deg);
    }
    50% {
        transform: translateY(0px)
        rotate(0deg);
    }
    100% {
        transform: translateY(0px)
        rotate(90deg);
    }
}

@keyframes closedTop {
    0% {
        transform: translateY(-5px)
        rotate(0deg);
    }
    50% {
        transform: translateY(0px)
        rotate(0deg);
    }
    100% {
        transform: translateY(0px)
        rotate(90deg);
    }
}

@keyframes openMid {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes closedMid {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes openBtm {
    0% {
        transform: translateY(5px)
        rotate(0deg);
    }
    50% {
        transform: translateY(0px)
        rotate(0deg);
    }
    100% {
        transform: translateY(0px)
        rotate(90deg);
    }
}

@keyframes closedBtm {
    0% {
        transform: translateY(5px)
        rotate(0deg);
    }
    50% {
        transform: translateY(0px)
        rotate(0deg);
    }
    100% {
        transform: translateY(0px)
        rotate(90deg);
    }
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.section_title {
    position: relative;
    height: 100px;
    width: 100%; 
    line-height: 100px;
    font-size: 2.1em;
    text-align: center;
    font-family: 'pt_sansbold';
    background-color: transparent;/*#FAFAFA;*/
    margin-top: 2em;
}

.section_text {
    height: 100%;
    width: 60%; 
    padding: 15px;
    font-size: 0.9em;
    text-align: justify;
    font-family: 'pt_sansregular';
    background-color: transparent; /*#FAFAFA;*/
}

.center {
    margin: auto!important;
    align-items: center!important;
    text-align: center!important;
}

/** Landing Page**/
main {
    margin: 0;
    background: rgb(36,88,167);
    background: -moz-linear-gradient(120deg, rgba(36,88,167,1) 24%, rgba(46,141,220,1) 52%);
    background: -webkit-linear-gradient(120deg, rgba(36,88,167,1) 24%, rgba(46,141,220,1) 52%);
    background: linear-gradient(120deg, rgba(36,88,167,1) 24%, rgba(46,141,220,1) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2458a7",endColorstr="#2e8ddc",GradientType=1);
}

#section1 {
    overflow: hidden;
    background: transparent;
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    align-items: center;    
}

.introduction {
    margin: auto;
    align-items: center;
    justify-content: center;
    /*margin-left: 200px;*/
    flex: 1;
    z-index: 50;
}

.presentation {
    left: 100px;
    width: 80%;
    position: relative;
}

.intro-text h1 {
    font-size: 80px;
    font-weight: 200px;
    color: white;
    font-family: 'pt_sansbold';
}
.intro-text p {
    margin-top: 40px;
    font-size: 15px;
    width: 70%;
    color: white;
}
.cta {
    padding: 20px 0px 0px 0px;
}

.next_button {
    position: relative;
    height: 60px;
    width: 240px;
    border-radius: 80px;
    background-color: white;
    text-align: center;
    font-size: 1em;
    font-family: 'pt_sansregular';
    line-height: 60px;
    color: #1D3C7D;
    transition-duration: 0.3s;
    z-index: 500;

    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}

.next_button:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.3);
    box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.3);
    background-color: #FAFAFA;
    text-decoration: none;
    color: #1D3C7D;
    transition-duration: 0.3s;
}

.landing-photo {
    display: flex;
    justify-content: center;
    flex: 1;
}
.landing-photo img {
    height: 60vh;
    animation: start 1.8s ease;
    z-index: 50;
}

.landing-photo h1 {
    position: absolute;
    z-index: 60;
    top: 45.5%;
    left: 72.5%;
    font-size: 10px;
}
/**1e398a**/

.landing_wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 5;
}

@keyframes start {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1024px) {
    
    #section1 {
        flex-direction: column;
    }
    .introduction {
        width: 100%;
        margin-top: 15vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 0.8em;
        width: 100%;
        margin: 20px 0px 0px 0px;
    }
    .cta {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 20px 0px 0px 0px;
    }
    .presentation {
        left: 0;
        width: 100%;
        position: relative;
    }

    .landing-photo img {
        height: 40vh;
        animation: start 1.8s ease;
        z-index: 50;
    }
    .next_button {
        position: relative;
        height: 40px;
        line-height: 40px;
        width: 150px;
    }
}

@media screen and (max-width: 450px) {
    .introduction {
        width: 100%;
        margin-top: 25vh;
    }
    .landing-photo img {
        height: 200px;
        animation: start 1.8s ease;
        z-index: 50;
    }
}

/** Problema**/
.section_problem {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 100px;
    bottom: 100px;
}

.container_problem {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 100px;
    /*background: turquoise;*/
}

.container_circle {
    display: flex;
    height: 120px;
    width: 100%;
    z-index: 2;
}

.circle_left {
    align-items: center;
    justify-content: flex-start;
}

.circle_right {
    align-items: center;
    justify-content: flex-end;
}

.circle_problem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 50%;
    box-shadow: -2px 13px 21px -2px rgba(0,0,0,0.47);
}

.circle_problem_in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    border: solid #2E8DDC 3px;
}

.circle_problem_in img {
    height: 30px;
    width: 30px;
}

.text_problem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_problem p {
    width: 90%;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/** Datos de Partida**/
#section1_1{
    position: relative;
    margin-top: 0;
    background-color: rgba(46, 141, 220, 0.04);
}

#section1_2 {
    height: 70vh;
    width: 100%!important;
    background-color: rgba(46, 141, 220, 0.04);
}
#section1_3 {
    height: 70px;
    width: 100%!important;
    background-color: rgba(46, 141, 220, 0.04);
}

.dashboard {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
}

.dashboard_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.dashboard_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.dashboard_btn {
    height: 50px!important;
}

.dashboard_btn:hover {
    background-color: #2E8DDC;
    color: white;
    transition-duration: 0.6s;
}

.dash_btn_active {
    background-color: #2E8DDC!important;
    color: white;
}

.dashboard_card {
    background-color: white;
    width: 93%;
    height: 100%;
    -webkit-box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    border-radius: 7px;
    margin: auto;
    flex-direction: column;
    margin: 15px;
    transition-duration: 0.6s;

    opacity: 0.95;
    /*transform: scale(0.9);*/
    transition: all 0.8s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #section1_2 {
        height: 100%;
    }
    .dashboard {
        flex-direction: column;
        width: 100%;
    }
    .dashboard_card {
        height: 400px;
    }
}

.section1_wave {
    width: 100%;
}

/** EDA **/
.active_EDA {
    background-color: #191820;
    color: white;
    transition-duration: 0.7s;
}
.section_container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /*background-color: #FAFAFA;*/
}

.data_gen_graf {
    height: 100vh;
    width: 100%!important;
}

.section2 {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    margin: auto;
}

.card_block {
    position: relative;
    margin: 0;
    background-color: white;
    width: 50%;
    -webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
}

.section3 {
    height: 100%;
    width: 80%;
    background-color: transparent; /*#FAFAFA;*/
    color: white; 
    margin: auto;
}

.section4 {
    height: 10em;
    width: 100%;
}

/** Farm Animation **/
.farm {
    position: relative;
    height: 50em;
    width: auto;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}


.farm img {
    top: 5em;
    position: absolute;
    height: 300px;
    width: 300px;
    transition-duration: 2.5s;
}

.capa_cerrada_1 {
    transform: scale(0.6) translateY(15px);
    transition-duration: 2.5s;
}

.capa_cerrada_2 {
    transform: translateY(15px) translateX(-1px);
    transition-duration: 2.5s;
}

.capa_cerrada_3 {
    transform: translateY(25px) translateX(-7px);
    transition-duration: 2.5s;
}

.capa_abierta_1 {
    transform: translateY(80px) translateX(30px);
    transition-duration: 2.5s;
}

.capa_abierta_2 {
    transform: translateY(100px) translateX(35px);
    transition-duration: 2.5s;
}

.capa_abierta_3 {
    transform: translateY(190px) translateX(-15px);
    transition-duration: 2.5s;
}

.img_top {
    position: absolute;
    height:300px;
    width: 300px;
    z-index: 5;
}

.img_top_stats {
    position: absolute;
    height: 300px;
    width: 300px;
    z-index: 4;
}

.img_middle {
    position: absolute;
    height: 300px;
    width: 300px;
    z-index: 3;
    transition-duration: 2.5s;
}

.img_middle_1 {
    position: absolute;
    height: 300px;
    width: 300px;
    z-index: 2;
}

.general_data {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oculto {
    opacity: 0.95;
    transform: scale(0.9);
    transition: all 0.8s ease-in-out;
}

.visible {
    opacity: 1;
    transform: scale(1);
}

.data_info_s {
    position: absolute;
    top: 5em;
    background-color: aqua;
    height:190px;
    width: 190px;
    border-radius: 50%;
    z-index: 10;
    flex-direction: column;
    background: rgb(46,141,220);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    line-height: 180px;
/*    background: -moz-radial-gradient(circle, rgba(46,141,220,1) 0%, rgba(36,88,167,1) 66%);
    background: -webkit-radial-gradient(circle, rgba(46,141,220,1) 0%, rgba(36,88,167,1) 66%);
    background: radial-gradient(circle, rgba(46,141,220,1) 0%, rgba(36,88,167,1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e8ddc",endColorstr="#2458a7",GradientType=1);

    background-color: white;*/
    -webkit-box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    transition-duration: 0.8s;
}

.data_info_s h1 {
    top: 40px;
    position: relative;
    font-size: 3em;
    color: white;
    font-weight: bold;
}

.data_info_s h2 {
    top: 25px;
    position: relative;
    font-size: 1.2em;
    color: white;
}

.data_info_i {
    top: 25em;
}

/** Equipo**/
#section5 {
}

.section5 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    height: 600px;
    width: 100%;
}

.card {
    position: relative;
    height: 450px;
    width: 90%;
    background-color: white;
    -webkit-box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    box-shadow: 5px 6px 8px 5px rgba(0,0,0,0.10);
    border-radius: 7px;
    margin: auto;
    flex-direction: column;
    margin-bottom: 30px;
    transition-duration: 0.6s;

    opacity: 0.95;
    transform: scale(0.9);
    transition: all 0.8s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1);
}

.card .card_foto {
    position: relative;
    height: 170px;
    width: 170px;
    position: relative;
    top: 50px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    border-radius: 50%;
}

.card .card_foto img {
    position: relative;
    overflow: auto;
    width: 100%;
    border-radius: 50%;
}

.card .card_nombre {
    position: relative;
    font-size: 1.5em;
    color: black;
    font-family: 'pt_sansbold';
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    z-index: 50;
    top: 80px;
}

.card_linkedin {
    margin: auto;
    height: 30px;
    width: 30px;
}

.card_linkedin {

}

.card_description {
    position: relative;
    font-size: 0.9em;
    padding: 15px;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'pt_sansregular';

}

.card:hover {
    -webkit-box-shadow: 5px 6px 9px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 5px 6px 9px 5px rgba(0,0,0,0.18);
    box-shadow: 5px 6px 9px 5px rgba(0,0,0,0.18);
    transition-duration: 0.6s;
}

/** Footer **/
.footer {
    position: relative;
    height: 25em;
    width: 100%;  
    z-index: 10;
    bottom: 0;
}

.footer_wave {
    position: inherit;
    bottom: 9.8em;
    left: 0;
    width: 100%;
    z-index: 5;
}

.footer_text {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 10em;
    line-height: 10em;
    text-align: center;
    color: white;
    z-index: 20;

    /*
    background: rgba(46,142,220,1);
    background: -moz-linear-gradient(top, rgba(46,142,220,1) 11%, rgba(41,117,196,1) 37%, rgba(33,72,153,1) 84%, rgba(30,57,138,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(46,142,220,1)), color-stop(37%, rgba(41,117,196,1)), color-stop(84%, rgba(33,72,153,1)), color-stop(100%, rgba(30,57,138,1)));
    background: -webkit-linear-gradient(top, rgba(46,142,220,1) 11%, rgba(41,117,196,1) 37%, rgba(33,72,153,1) 84%, rgba(30,57,138,1) 100%);
    background: -o-linear-gradient(top, rgba(46,142,220,1) 11%, rgba(41,117,196,1) 37%, rgba(33,72,153,1) 84%, rgba(30,57,138,1) 100%);
    background: -ms-linear-gradient(top, rgba(46,142,220,1) 11%, rgba(41,117,196,1) 37%, rgba(33,72,153,1) 84%, rgba(30,57,138,1) 100%);
    background: linear-gradient(to bottom, rgba(46,142,220,1) 11%, rgba(41,117,196,1) 37%, rgba(33,72,153,1) 84%, rgba(30,57,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e8edc', endColorstr='#1e398a', GradientType=0 );
    */
    background-color: #2e8ddc;

}

#globalArea {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}